rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function hasCreatedAt() {
      return request.resource.data.createdAt == request.time;
    }

    function keepCreatedAt() {
      return request.resource.data.createdAt == resource.data.createdAt;
    }

    match /rooms-dev/{room} {
      allow get;
      allow create: if hasCreatedAt();
      allow update: if keepCreatedAt();

      match /actions/{action} {
        allow list;
        allow create: if hasCreatedAt();
      }
    }

    match /rooms-v1/{room} {
      allow get;
      allow create: if hasCreatedAt();
      allow update: if keepCreatedAt();

      match /actions/{action} {
        allow list;
        allow create: if hasCreatedAt();
      }
    }
  }
}
