rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function hasCreatedAt() {
      return request.resource.data.createdAt == request.time;
    }

    function keepCreatedAt() {
      return request.resource.data.createdAt == resource.data.createdAt;
    }

    function isSelf(id) {
      return request.auth.uid == id;
    }

    match /rooms-dev/{room} {
      allow get;
      allow create: if hasCreatedAt();
      allow update: if keepCreatedAt();

      match /actions/{action} {
        allow list;
        allow create: if hasCreatedAt();
      }
    }

    match /rooms-v1/{room} {
      allow get;
      allow create: if hasCreatedAt();
      allow update: if keepCreatedAt();

      match /actions/{action} {
        allow list;
        allow create: if hasCreatedAt();
      }
    }

    match /checkout-sessions-v1/{session} {
      allow list: if request.auth != null && request.auth.uid == resource.data.client_reference_id;
    }

    match /owners-dev/{owner}/rooms/{room} {
      allow get;
      allow create: if hasCreatedAt() && isSelf(owner);
      allow update: if keepCreatedAt() && isSelf(owner);

      match /actions/{action} {
        allow list;
        allow create: if hasCreatedAt() && isSelf(owner);
      }
    }

    match /room-owners-dev/{room} {
      allow get;
      allow create: if hasCreatedAt();
    }

    match /calibrations-dev/{id} {
      allow get;
      allow create: if hasCreatedAt();
    }

    match /calibrations-v1/{id} {
      allow get;
      allow create: if hasCreatedAt();
    }
  }
}
