rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms-dev/{room} {
    	allow get;
      allow create;

      match /actions/{action} {
      	allow list;
        allow create;
      }
    }

    match /rooms-v1/{room} {
    	allow get;
      allow create;

      match /actions/{action} {
      	allow list;
        allow create;
      }
    }
  }
}