:root {
  --smoke-0: hsl(0, 0%, 100%, 0%);
  --smoke-10: hsl(0, 0%, 100%, 10%);
  --smoke-20: hsl(0, 0%, 100%, 20%);
  --smoke-30: hsl(0, 0%, 100%, 30%);
  --smoke-40: hsl(0, 0%, 100%, 40%);
  --smoke-50: hsl(0, 0%, 100%, 50%);
  --smoke-60: hsl(0, 0%, 100%, 60%);
  --smoke-70: hsl(0, 0%, 100%, 70%);
  --smoke-80: hsl(0, 0%, 100%, 80%);
  --smoke-90: hsl(0, 0%, 100%, 90%);
  --smoke-100: hsl(0, 0%, 100%, 100%);

  --shadow-0: hsl(0, 0%, 0%, 0%);
  --shadow-5: hsl(0, 0%, 0%, 5%);
  --shadow-10: hsl(0, 0%, 0%, 10%);
  --shadow-20: hsl(0, 0%, 0%, 20%);
  --shadow-30: hsl(0, 0%, 0%, 30%);
  --shadow-40: hsl(0, 0%, 0%, 40%);
  --shadow-50: hsl(0, 0%, 0%, 50%);

  --white: #ffffff;
  --black: #000000;
  --gray: gray;
}
