@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light text-dark/90;
    @apply dark:bg-dark dark:text-light/90;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-variant: inherit;
  }
}

@layer components {
  .circle-progress {
    @apply progress-bar-transparent inline-block min-h-[1rem] min-w-[1rem] animate-spin rounded-full border border-solid border-transparent border-t-current bg-transparent;
  }

  .transparent-button {
    @apply cursor-pointer rounded-md transition-colors hover:bg-dark/10 active:bg-dark/20 dark:hover:bg-light/20 dark:active:bg-light/30;
  }

  .circle-button {
    @apply h-20 w-20 cursor-pointer select-none rounded-full border-4 border-double transition-colors;
    @apply disabled:cursor-auto disabled:border-neutral-400 disabled:text-neutral-700;
    @apply dark:disabled:cursor-auto dark:disabled:border-neutral-700 dark:disabled:text-neutral-400;
  }
  .circle-button-gray {
    @apply border-gray-500 bg-gray-100 text-gray-700;
    @apply hover:border-gray-600 hover:bg-gray-200 hover:text-gray-800;
    @apply active:bg-gray-300;
    @apply disabled:bg-gray-50;

    @apply dark:border-gray-500 dark:bg-gray-900 dark:text-gray-300;
    @apply dark:hover:border-gray-400 dark:hover:bg-gray-800 dark:hover:text-gray-200;
    @apply dark:active:border-gray-300 dark:active:bg-gray-800;
    @apply dark:disabled:bg-gray-900;
  }
  .circle-button-green {
    @apply border-green-500 bg-green-100 text-green-700;
    @apply hover:border-green-600 hover:bg-green-200 hover:text-green-800;
    @apply active:bg-green-300;
    @apply disabled:bg-green-50;

    @apply dark:border-green-500 dark:bg-green-900 dark:text-green-300;
    @apply dark:hover:border-green-400 dark:hover:bg-green-800 dark:hover:text-green-200;
    @apply dark:active:border-green-300 dark:active:bg-green-800;
    @apply dark:disabled:bg-green-900;
  }
  .circle-button-orange {
    @apply border-orange-500 bg-orange-100 text-orange-700;
    @apply hover:border-orange-600 hover:bg-orange-200 hover:text-orange-800;
    @apply active:bg-orange-300;
    @apply disabled:bg-orange-50;

    @apply dark:border-orange-500 dark:bg-orange-900 dark:text-orange-300;
    @apply dark:hover:border-orange-400 dark:hover:bg-orange-800 dark:hover:text-orange-200;
    @apply dark:active:border-orange-300 dark:active:bg-orange-800;
    @apply dark:disabled:bg-orange-900;
  }
}

@layer utilities {
  .progress-bar-transparent::-moz-progress-bar {
    background-color: transparent;
  }
  .progress-bar-transparent::-webkit-progress-bar {
    background-color: transparent;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}
