@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

select,
input {
  font-variant: inherit;
}

.progress-bar-transparent::-moz-progress-bar {
  background-color: transparent;
}
.progress-bar-transparent::-webkit-progress-bar {
  background-color: transparent;
}

@keyframes flash {
  from {
    @apply bg-white/75;
  }
}
