@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light text-dark/90;
    @apply dark:bg-dark dark:text-light/90;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-variant: inherit;
  }
}

@layer components {
  .circle-progress {
    @apply progress-bar-transparent inline-block min-h-[1rem] min-w-[1rem] animate-spin rounded-full border border-solid border-transparent border-t-current bg-transparent;
  }

  .transparent-button {
    @apply cursor-pointer rounded-md transition-colors hover:bg-dark/10 active:bg-dark/20 dark:hover:bg-light/20 dark:active:bg-light/30;
  }
}

@layer utilities {
  .progress-bar-transparent::-moz-progress-bar {
    background-color: transparent;
  }
  .progress-bar-transparent::-webkit-progress-bar {
    background-color: transparent;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}
